.section.do-we-shipto-container .default-content-wrapper p {
font-size: 34px;
    font-weight: 500;
    margin: 40px 0;
    text-align: center;
}

.do-we-shipto-wrapper {
    display: flex;
    width: 100%;
    margin-top: 40px !important;
    padding: 0 !important;
}

.do-we-shipto.block {
margin: 0 auto;
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 3px 3px 10px 0px #00000024;
    border: 1px solid #00000047;
    width: 100%;
    max-width: 372px;
}

.do-we-shipto.block > div p {
    margin: 10px 0 30px 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.do-we-shipto.block form#zipForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
}

.do-we-shipto.block form#zipForm label {
    display: none;
}

.do-we-shipto.block input#zipcode {
    padding: 12px;
    margin: 0 0 20px 0;
    border: 1px solid rgb(151, 151, 151);
}

.do-we-shipto.block button {
    padding: 12px;
    background: #201f55;
    color: #fff;
    font-weight: 800;
    margin-bottom: 20px;
}
.do-we-shipto.block p#message {
    margin: 0;
    font-weight: 700;
}