.cards-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0px;
}
.cards-wrapper {
  padding: 0px !important;
  width: 100% !important;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  text-align: left;
  flex: 1 1 280px;
  max-width: 300px;
  transition: transform 0.3s ease;
  flex: 1 1 calc(32% - 15px);
  height: 310px;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card:hover {
  transform: translateY(-4px);
}

.card-icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.25rem !important;
  font-weight: 700 I !important;
  margin-bottom: 12px;
  max-width: 250px;
}

.card-desc {
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
  max-width: 250px;
}

.titleWrapper {
  min-height: 167px;
}

.card-cta {
  font-weight: 600 !important;
  color: #4a3aff !important;
  text-decoration: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
}
