.top-products {
  overflow: hidden;
  min-height: 512px;
  margin-top: 30px;
}


.top-products h2 {
  color: #2E3A59;
}

.top-products .scrollable {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
}

.top-products .product-grid {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 2rem;
  margin: 0;
}

.top-products .product-grid-item {
  margin: 0;
  scroll-snap-align: start;
}

.top-products .product-grid-item a {
  text-decoration: none;
}

.top-products .product-grid-item a span {
  display: inline-block;
  margin-top: 0.5rem;
  padding-right: 1rem;
}

.top-products .product-grid-item picture {
  background: none;
  display: block;
  width: 300px;
  aspect-ratio: 1 / 1.25;
}

.top-products .product-grid-item img {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  object-fit: contain;
}

.top-products .product-grid-cta {
  margin-top: 0.25rem;
  display: block;
}

.top-products .price {
  font-weight: bold;
  color: #000;
}

@media (width >=900px) {
  .top-products {
    min-height: 534px;
  }
}
.top-products .product-grid-item {
  border: 1px solid #211F54;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  width: 220px;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  height: 300px;
}

/* .top-products .product-grid-item:hover {
  transform: translateY(-4px);
} */

.top-products .product-grid-item:hover {
  box-shadow: 0 8px 24px rgba(33, 31, 84, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}


.top-products .card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.top-products .card-image-wrapper {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: white;
}

.top-products .card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top-products .card-title {
  height: 25%;
  background-color: #211F54;
  color: #f5f4ff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-products .card-price {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.2rem;
}

.top-products .product-grid {
  gap: 1rem;
}

.top-products .cta-card .go-icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: #fff;
  color: #211F54;
  height: 75%;
}

.top-products .cta-card .card-title {
  font-size: 1rem;
  font-weight: 600;
  background: #211F54;
  color: #f5f4ff;
  height: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

